


p,li,h1 {
  color: red;
}

/* tabla con estilo css*/
body {font-family: Arial, Helvetica, sans-serif;}

table { font-family: «Lucida Sans Unicode», «Lucida Grande», Sans-Serif;
font-size: 12px; margin: 45px; width: 480px; text-align: left; border-collapse: collapse; }

th { font-size: 13px; font-weight: normal; padding: 8px; background: #b9c9fe;
border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039; }

td { padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
color: #669; border-top: 1px solid transparent; }

#cv-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.section p {
  margin-bottom: 10px;
}

.skills li {
  margin-bottom: 5px;
}